* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(
      circle at top right,
      rgba(37, 99, 235, 0.18),
      transparent 35%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(56, 189, 248, 0.12),
      transparent 30%
    ),
    var(--background);

  color: var(--text);

  font-family: "Inter", sans-serif;

  overflow-x: hidden;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
}

.logo span {
  color: var(--primary);
}

section {
  min-height: 100vh;

  padding: 120px 8%;
}

.background {
  position: fixed;

  inset: 0;

  overflow: hidden;

  z-index: -1;
}

.blob {
  position: absolute;

  border-radius: 50%;

  filter: blur(100px);
}

.blob1 {
  width: 320px;

  height: 320px;

  background: #2563eb;

  top: -80px;

  right: -80px;

  opacity: 0.22;
}

.blob2 {
  width: 260px;

  height: 260px;

  background: #38bdf8;

  bottom: -60px;

  left: -60px;

  opacity: 0.15;
}

.btn {
  padding: 15px 30px;

  border-radius: 10px;

  text-decoration: none;

  font-weight: 600;

  transition: 0.3s;
}

.btn-primary {
  background: var(--primary);

  color: white;
}

.btn-primary:hover {
  transform: translateY(-3px);
}

.btn-secondary {
  border: 2px solid var(--primary);

  color: white;
}

.btn-secondary:hover {
  background: var(--primary);
}
