:root{

    --background:#0F172A;

    --surface:#1E293B;

    --surface-light:rgba(255,255,255,.05);

    --glass:rgba(255,255,255,.08);

    --primary:#2563EB;

    --secondary:#38BDF8;

    --accent:#67E8F9;

    --text:#F8FAFC;

    --text-secondary:#CBD5E1;

    --border:#334155;

    --shadow:0 15px 40px rgba(0,0,0,.35);

}